@charset "UTF-8";

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  min-width: 320px;
  font-family: "Lato";
  font-weight: normal;
  color: #161615;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width:100%;
}

input,
button,
textarea {
  font-family: "PT Sans Caption";
  font-size: inherit;
  outline:none;
}

input::-ms-clear {
  display: none;
}


input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */

}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
    color: #161615;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.h1_pahe{
    font-size: 46px;
    font-weight: 700;
    margin: 1em 0;
}

._container {
    width:1440px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background-color: #91B508;
    border: 1px solid #91B508;
    border-radius: 20px;
    text-align: center;
    padding: 0 20px;
    transition: all .4s ease;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    display: block;
    min-height: 35px;
    line-height: 35px;
    display: inline-block;
}

.btn_empty {
    background-color: white;
    color: #91B508;
}

section {
    width:100%;
    padding: 30px 0;
}

section h2{
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 30px;
}


@media (max-width: 1440px){
    ._container {
        width:96%;
        margin: 0 2%;
    }
}


/* Шапка сайта */

header {
    padding:0 10%;
    display: flex;
    height: 80px;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px -6px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px -6px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px -6px rgba(34, 60, 80, 0.2);
}

header > *{
    margin-top: auto;
    margin-bottom: auto;
}

header .main_menu {
    margin-left: 0;
}

.main_menu {
    display: flex;

}

header .contact_blk_head {
    margin-right: 0;
    margin-left: auto;
}

.main_menu li a{
    margin-right: 30px;
}

.logo {
    width:187px;
    height:150px;
    background-image: url(../img/logo.svg);
    position: absolute;
    top: 5px;
    left:calc(50% - 94px);
    z-index: 111;
}

.phone_head {
    position: relative;
    padding-left: 20px;
}

.phone_head:before {
    content: "\2022";
    color: #91B508;
    font-size: 24px;
    position: absolute;
    left:0;
    top:-1px;
    line-height: 0.75;
}

@media (max-width: 1440px){
    header {
        padding: 0 2%;
    }
}


/* Шапка сайта end */

/* Баннер на главной */

.main_banner {
    height: 900px;
    overflow: hidden;
    position: relative;
    background-image: url(../img/banner_main.jpg);
    background-size: cover;
    display: flex;
    background-position: center;
}


.main_banner ._container{
    color:white;
    margin-top:auto;
    margin-bottom: auto;
}

.main_banner ._container span{
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    width:400px;
    display: block;
    margin-bottom: 20px;
}

.main_banner ._container h1{
    font-size: 72px;
    width:400px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main_banner ._container .btn{
    display: inline-block;
}



/* Баннер на главной end */

/* Блок о компании */

.about_main ._container{
    display: flex;
    flex-wrap: wrap;
}

.about_main ._container .photo_blk{
    width:40%;
    min-height: 400px;
    background-image: url(../img/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.about_main ._container .photo_blk video{
    width:80%;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);
    margin: auto;
}

.about_main ._container .text_blk .inner_text{
    margin: auto 0;
}

.about_main ._container .text_blk .inner_text p{
    margin: 1.5em 0;
}

.about_main ._container .text_blk{
    width:57%;
    margin-left: 3%;
    display:flex;
}

/* Блок о компании end */

/* Блок преимуществ */

.advantages_main {
    background-color: #e4e3e1;
    height: 900px;
    background-image: url(../img/advantages_bg_left.webp), url(../img/advantages_bg_right.webp);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    text-align: center;
    padding: 70px 0;
}

.advantages_main p{
    width: 50%;
    margin: 0 auto;
}

.advantages_main hr{
    width:170px;
    height: 2px;
    border: none;
    background-color: #91B508;
    margin: 0 auto 30px auto;
 }

 .advantages_list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
 }

 .advantages_list .a_blk{
    display: flex;
    flex-direction: column;
 }

 .advantages_list .a_blk > *{
    margin-left: auto;
    margin-right: auto;
 }

 .advantages_list .a_blk .text_blk p{
    margin-left: auto;
    margin-right: auto;
 }

 .advantages_list .a_blk .icon_blk{
    width:180px;
    height: 180px;
    background-color: #91B508;
    margin-bottom: 30px;
    border-radius: 100px;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
 }

 .advantages_list .a_blk .icon_blk.icon_a_blk_1 {
    background-image: url(../img/icon/adv_icon_1.svg);
 }


 .advantages_list .a_blk .icon_blk.icon_a_blk_2 {
    background-image: url(../img/icon/adv_icon_2.svg);
 }

 .advantages_list .a_blk .icon_blk.icon_a_blk_3 {
    background-image: url(../img/icon/adv_icon_3.svg);
 }

 .advantages_list .a_blk .icon_blk.icon_a_blk_4 {
    background-image: url(../img/icon/adv_icon_4.svg);
 }

 .advantages_list .a_blk .icon_blk.icon_a_blk_5 {
    background-image: url(../img/icon/adv_icon_5.svg);
 }

 .advantages_list .a_blk h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
 }

 .advantages_list .a_blk hr {
    width: 40px;
 }

/* Блок преимуществ end */

/* Блок наше производство  */


.pg_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pg_wrapper img{
    border-radius: 12px;
}

.gal_left_side {
    width:40%
}

.gal_right_side {
    width:60%;
    display: flex;
    flex-wrap: wrap;
}

.gal_right_side img:nth-child(1),
.gal_right_side img:nth-child(2){
    margin-top: 0;
}

.gal_right_side img:nth-child(3),
.gal_right_side img:nth-child(4){
    margin-bottom: 0;
}

.gal_right_side img{
    width:46%;
    margin: 2%;
    height: auto;
}

/* Блок наше производство end */

/* Блок каталога на главной */
.catalog_main .btn_blk{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cat_list_main {
    display: flex;
    justify-content: space-between;
}

.cat_list_main .cat_card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.cat_list_main .cat_card .name{
    background-color: #91B508;
    color: white;
    height: 74px;
    line-height: 74px;
    font-size: 24px;
    font-weight: 700;
}


@media (max-width: 1440px){
    .cat_list_main .cat_card {
        width:32%
    }
}

/* Блок каталога на главной end */


/* Подвал */

footer ._container {
    display: flex;
    height: 140px;
    justify-content: space-between;
}

.foooter_in_main.noborder ._container{
    border-top:  none;
}
.foooter_in_main ._container{
    border-top: 2px solid #91B508;
}

.foooter_in_main ._container > *{
    margin-top: auto;
    margin-bottom: auto;
}

.foooter_in_main ._container .logo{
    position: relative;
    left: unset;
    top: unset;
    width:133px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Подвал end */

/* Страница продукции */

.bn_in_product_page {
    width:100%;
    height: 200px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.bn_in_product_page .milk_layer{
    position: absolute;
    width:100%;
    height: 200px;
    background-image: url(../img/milk_line.webp);
    background-position: top center;
    background-size: cover;
    background-repeat:  no-repeat;
    z-index: 1000;
    bottom: -2px;
    left: 0;
}

.product_cat_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_cat_list .product_cat{
    width:22%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);
    -moz-box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);
    box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);
    background-color: #91B508;
}

.product_cat_list .product_cat .img_wrap{
    width: 100%;
    height: 260px;
    background-color: white;
    display: flex;
}

.product_cat_list .product_cat .img_wrap img{
    object-fit: contain;
    width:80%;
    margin: auto;
}

.product_cat_list .product_cat .text{
    color: white;
    background-color: #91B508;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 10% 25px 10%;
    line-height: 1.2;
}

/* Страница продукции end */

/* Страница категории продукции */

.product_cat_list .product_cat_t {
    width:22%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);
    -moz-box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);
    box-shadow: 0px 1px 8px 9px rgba(34, 60, 80, 0.05);

    text-align: center;
}

.product_cat_list .product_cat_t .img_wrap{
    max-height: 260px;
    padding: 10px 0;
}

.product_cat_list .product_cat_t .img_wrap img{
    object-fit: contain;
}

.product_cat_list .product_cat_t h2{
    font-size: 24px;
    font-weight: 600;
    color: #669824;
    padding: 0 20px;
}

.product_cat_list .product_cat_t .upac{
    font-size: 18px;
    color:#8C8B8B;
    margin-bottom: 20px;
    padding: 0 20px;
}

.product_cat_list .product_cat_t .text{
    padding: 0 20px;
    margin-bottom: 30px;
    margin-top: auto;
}

.cat_select_in_page {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cat_select_in_page .cat_element{
    padding: 10px 15px;
    border: 1px solid #669824;
    border-radius: 30px;
    margin: 0 20px 20px 0;
}

.cat_select_in_page .cat_element:hover,
.cat_select_in_page .cat_element.active{
    background-color: #669824;
    color: white;
}

/* Страница категории продукции end */

/* Страница продукта */

/* Страница продукта end */

.big_pd {
    padding-top: 100px;
}

.prodct_page_blk {
    display: flex;
    margin-top: 30px;
}

.prodct_page_blk .right {
    margin-left: 5%;
}

.prodct_page_blk .right h1{
    font-size: 40px;
    margin-top: 0;
}

.prodct_page_blk .right ul li{
    margin: 5px 0;
}

.prodct_page_blk .right h2{
    font-size: 22px;
}

.prodct_page_blk .right .description{
    padding:  1em 0;
}

.prodct_page_blk .right .property{
    margin: 20px 0;
    color: #669824;
    font-size: 18px;
}

.prodct_page_blk .right .ppInfo {
    display: flex;
    flex-direction: column;
}

.prodct_page_blk .right .ppInfo .ppInfo_line.active{
    color:#669824
}

.prodct_page_blk .right .ppInfo .ppInfo_line{
    padding: 10px 0;
    border-bottom: 1px solid #6698243a;
    display: flex;
    justify-content: space-between;
}

.prodct_page_blk .right .ppInfo .ppInfo_line p{
    font-size: 22px;
    font-weight: 600;
}

.prodct_page_blk .right .ppInfo .ppInfo_line .arrow{
    width:17px;
    height: 8px;
    margin: auto 0 auto auto;
    background-image: url(../img/icon/arrow_prop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prodct_page_blk .pp_blk {
    flex:1;
}

.prodct_page_blk .pp_blk .pp_img_wrapper{
    box-shadow: 0px 1px 8px 9px rgb(34 60 80 / 5%);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.prodct_page_blk .pp_blk .pp_img_wrapper img{
    width:80%;
    margin: auto;
    padding: 20px 0;
}

.upsale .product_cat_list{
    margin-top: 50px;
}

.tovar_caracter li {
    display: flex;
    margin: 10px 0;
}

.tovar_caracter li .sep{
    flex:1;
    border-bottom: 1px dotted lightgray;
    margin: 0 4px;
}

.tovar_caracter li .pname{
    font-weight: 600;
}

/* Хлебные крошки */

.breadcrumbs {
    width: 100%;
}

.breadcrumbs a:hover{
    text-decoration: underline;
}

.breadcrumbs a{
   color: #669824;
}

/* Хлебные крошки end */

/* Иконка мобильного меню */

.icon-menu {
    position: -webkit-sticky;
    position: sticky;
    width: 31.8px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31.8px;
    flex: 0 0 31.8px;
    height: 23.2px;
    cursor: pointer;
    z-index: 5;
    display: none;
}
.icon-menu span {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #7EAF00;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
  }

  .icon-menu.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 12px;
  }

/* Иконка мобильного меню end */

/* Страница контактов */

.render_map {
    width:100%;
    height:300px;
    border: 2px solid #91B508;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}

.contact_page  h3{
    font-size: 20px;
    font-weight: 700;
}

.contact_page  h2{
    font-weight: 700;
    font-size: 28px;
    color: #669824;
}

.contact_page  .contact_data
{
    display: flex;
    flex-direction: column;
}
.contact_page  .contact_data * {
    margin: 0.5em 0;
}

.ca_card {
    position:relative;
    padding:10px 0 10px 40px;
}

.ca_card:before{
    content: "";
    position: absolute;
    width:25px;
    height:25px;
    background-image: url(../img/icon/pdf_doc.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top:calc(50% - 13px)
 }

/* Страница контактов end */

/* Оформление текстовых блоков */

.text_blk p{
    margin: 1em 0;
}
/* Оформление текстовых блоков end */

.margin_bottom_30 {
    margin-bottom: 30px;
}

@media (max-width: 1330px){
    .main_banner {
        height: 600px;
    }

    .bn_in_product_page .milk_layer {
        background-position: bottom center;
        background-size: contain;
    }

}

@media (max-width: 1024px){
    header {
        position: sticky;
        top:0;
        z-index: 10000;
        background-color: white;
    }
    header .main_menu {
        order: 2;
    }

    header .logo {
        order: 1;
        position: relative;
        top:unset;
        left: unset;
        height:84%;
        background-size: contain;
        background-repeat:  no-repeat;
    }

    header .contact_blk_head {
        order:3;
    }

    .advantages_main {
        background-image: url(../img/advantages_bg_left.webp);
    }

    .product_cat_list .product_cat {
        width:32%
    }

    .product_cat_list .product_cat_t {
        width:48%
    }
}

@media (max-width: 812px){
    .advantages_main {
        height: auto;
    }

    .advantages_list {
        flex-wrap: wrap;
    }

    .advantages_list .adv {
        width: 32%;
        margin-bottom: 20px;
    }

    header .main_menu {
        display: none;
    }

    .icon-menu {
        display: block;
        order: 3;
        margin-left: 30px;
    }

    .main_banner {
        height: 400px;
    }

    .main_banner ._container span {
        font-size: 38px;
    }

    .main_banner ._container h1 {
        font-size: 52px;
    }

    .about_main ._container {
        flex-direction: column;
    }

    .about_main ._container .text_blk,
    .about_main ._container .photo_blk {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .about_main ._container .photo_blk img {
        width:50%;
    }

    .cat_list_main .cat_card .name {
        height: 54px;
        line-height: 1;
        display: flex;
    }

    .cat_list_main .cat_card .name h3{
        margin: auto;
    }

    .foooter_in_main ._container {
        flex-direction: column;
        height: auto;
    }

    .foooter_in_main ._container .logo{
        margin: 20px auto;
        min-height: 80px;
    }

    .foooter_in_main ._container .main_menu{
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
    }

    .foooter_in_main ._container .main_menu a{
        margin: 5px 0;
        display: block;
    }

    .foooter_in_main ._container .contact_blk_head{
        margin: 10px auto;
    }

    .bn_in_product_page {
        padding: 0;
    }

    .prodct_page_blk {
        flex-direction: column;
    }

    .prodct_page_blk .right {
        margin-left: 0;
    }

    .bn_in_product_page {
        height: 120px;
    }

    .prodct_page_blk .right h1 {
        margin-top: 40px;
    }

    .big_pd {
        padding-top: 30px;
    }

    .advantages_list .a_blk {
        width: 100%;
    }
}

@media (max-width: 480px){
    .advantages_list .adv {
        width: 48%;
    }

    .advantages_main p {
        width:100%;
    }

    header .logo {
        width:100px
    }

    .advantages_main {
        background-image: url(../img/advantages_bg_left.webp), url(../img/advantages_bg_right.webp);
        background-size: 100%;
    }

    .cat_list_main {
        flex-direction: column;
    }

    .cat_list_main .cat_card {
        width: 100%;
        margin-bottom: 20px;
    }

    .main_banner {
        height: 300px;
    }

    .product_cat_list .product_cat {
        width: 100%;
    }

    .product_cat_list .product_cat_t {
        width: 100%;
    }

    .product_cat_list .product_cat_t .upac,
    .product_cat_list .product_cat_t h2 {
        padding: 0 20px;
    }


}

@media (max-width: 375px){
    header .logo {
        width:70px;
        background-position: center;
    }
}
